CompileFlags:
  Add:
    - -Wall
  Remove:
    - -mlongcalls
    - -fno-printf-return-value
    - -fno-reorder-functions
    - -fstrict-volatile-bitfields
    - -fno-freestanding
    - -mfp16-format=ieee
Diagnostics:
  Suppress:
    - attribute_section_invalid_for_target
---
If:
  PathMatch: helium-lib/.*
CompileFlags:
  # The shared Zephyr library is compiled as part of Kestrel.
  CompilationDatabase: kestrel-app/build
